@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* If the image is meant to be on its own page, use this selector... */
figure.full-page{
	break-after: page;
	break-before: page;
	break-inside: avoid;
	margin: 0;
	max-height: 100%;
	text-align: center;
}

@supports(display: flex) and (max-height: 100vh){
	figure.full-page{
		display: flex;
		flex-direction: column;
		max-height: 100vh;
	}

	figure.full-page img{
		height: 100%;
	}
}

/* If the image is meant to be inline with the text, use this selector... */
figure{
	margin: 1em auto;
	text-align: center;
}

/* In all cases, also include the below styles */
figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figcaption{
	font-size: .75em;
	font-style: italic;
	margin: 1em;
}

figcaption i{
	font-style: normal;
}

[epub|type~="loi"] cite{
	font-style: italic;
	display: block;
}

[epub|type~="se:diary.dateline"]{
	text-align: right;
	font-style: italic;
	break-after: avoid;
}

[epub|type~="se:diary.dateline"] + p{
	text-indent: 0;
}

[epub|type~="z3998:diary"]{
	margin: 1em;
}

blockquote[epub|type~="z3998:diary-entry"]{
	margin: 0;
}

blockquote[epub|type~="z3998:diary-entry"] + blockquote[epub|type~="z3998:diary-entry"]::before{
	border-top: 1px solid;
	content: "";
	display: block;
	height: 0;
	margin: 1.5em auto;
	width: 25%;
}
