@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

figure.full-page{
	break-after: page;
	break-before: page;
	margin: 0;
	max-height: 100vh;
	text-align: center;
}

@supports(display: flex){
	figure.full-page{
		display: flex;
		flex-direction: column;
	}

	figure.full-page img{
		height: 100vh;
		object-fit: contain;
	}
}

figure{
	break-inside: avoid;
	margin: 1em 40px;
	text-align: center;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figcaption{
	font-size: smaller;
	font-style: italic;
	margin: 1em;
}

figcaption i{
	font-style: normal;
}

[epub|type~="loi"] cite{
	display: block;
	font-style: italic;
}

[epub|type~="se:diary.dateline"]{
	break-after: avoid;
	font-style: italic;
	text-align: right;
}

[epub|type~="se:diary.dateline"] + p{
	text-indent: 0;
}

[epub|type~="z3998:diary"]{
	margin: 1em;
}

blockquote[epub|type~="z3998:diary-entry"]{
	margin: 0;
}

blockquote[epub|type~="z3998:diary-entry"] + blockquote[epub|type~="z3998:diary-entry"]::before{
	border-top: 1px solid;
	content: "";
	display: block;
	height: 0;
	margin: 1.5em auto;
	width: 25%;
}
